@model IEnumerable<MvcNetCore.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<section class="row d-flex justify-content-center">
    <div class="col-3">
        <h1>Products</h1>
    </div>
    <div class="col-10">
        <p>
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Produktnavn
                    </th>
                    <th>
                        Antal pr enhed
                    </th>
                    <th>
                        Enhedspris
                    </th>
                    <th>
                        Enheder på lager
                    </th>
                    <th>
                        Bestilte enheder
                    </th>
                    <th>
                        Genbestillingsniveau
                    </th>
                    <th>
                        Udgået
                    </th>
                    <th>
                        Categori
                    </th>
                    <th>
                        Leverandør
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitsInStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReorderLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discontinued)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                        </td>
                        <td class="text-center d-inline-flex px-5">
                            <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary m-1"><i class="mdi mdi-square-edit-outline"></i></a>
                            <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-success m-1"><i class="mdi mdi-eye-outline"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger m-1"><i class="mdi mdi-delete-off-outline"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
